[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules", "lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true

[profile.test]
via_ir = true
optimizer = true
optimizer_runs = 200
